
html,body { 
  margin: 0px; 
  padding: 0px; 
  height:100%; 
  color: white;
}

.page { 
  min-height: 100vh;
}

.row .col.full-height { 
  min-height: calc(100vh - 64px);
}

nav .brand-logo {
  padding-left: 1em;
}

/* Server List */

.server-name {
  font-weight: bold;
  font-size: 120%;
  padding-top: 1em;
}

.channel-name .material-icons {
  font-size:75%;
  padding-right: 0.25em;
}